
.search-bar {
  width:621px;
  border-radius: 67px;
  height:40px;
  background-color: #f4f4f4;
  outline: none;
}
.search-rail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category-link{
 list-style-type: none;
 display: flex;
 font-weight:bold;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0;
}
.search-container {
  margin:0 auto
}
.heading-wrapper {
  padding: 0 80px;
}
.header-seperator {
  content:"";
  background-color: silver;
  height: 1px;
  width: 100%;
  left: 0;
  position: absolute;
}


.footer-container {
  background-color: rgba(0,0,0,.88);
  color: white;
 
}

.footer-row1 {
  display: flex;
  flex-direction: row;
}
.footer-container li a {
  text-decoration: none;
  color:white;
}
li {
  list-style-type: none;
}
.last-column {
  width: 411px;
}